# Data Science Tools and Ecosystem
In this notebook, Data Science tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular laungages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. TensorFlow

|Data Science Tools|
-------
|Pandas|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Asia Nguyen